.Public {
  font-family: "Roboto";
  font-style: normal;
  width: 96%;
  border-radius: 25px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    text-align: left;
    border-bottom: 1px solid #eff0f0;
    padding-bottom: 14px;
  }

  &__shot {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(172px, 172px));
    //row-gap: 35px;
    column-gap: 60px;
    list-style-type: none;
    padding: 0;
    //border: solid #737373 1px;
    
}

&__shot-container {
    //border: solid #737373 1px;

}

  &__shot-circle {
    border: solid #737373 1px;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
  }

  &__shot-circle-list {
    border: solid #737373 1px;
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    margin: auto;

  }
}

@media (max-width: 768px) {
    .Public {
      &__title {
        font-size: 36px;
        line-height: 42px;
      }}}

@media (max-width: 500px) {
    .Public {
      margin-top: 50px;
  
      &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
      }}}
