.Logo {
    margin-left: 260px;
    width: 243px;
    height: 72px;    
    position: relative;
    display: flex;
    place-items: center;
    place-content: center;
    

    &__container {
        position: absolute;
        background-color: black;
        height: 54px;
        width: 242px;

    }

    &__text-container {
        position: absolute;
        background-color: red;
        border-radius: 15%;
        width: 117px;
        margin: auto;

    }

    &__text {
        color: aliceblue;
    }


}